<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mills.b.jpg" alt="Bill Mills" />
  <div id="mills.b" class="media-body">
    <span class="person">Bill Mills</span> is a physicist and 
    software developer, as well as the community manager for 
    the Mozilla Science Lab. Bill's current focus is on 
    promoting open collaboration and skill sharing among scientists
    and developers, via projects like Software Carpentry, 
    <a href='http://collaborate.mozillascience.org/'>Collaborate</a>,
    and community meetups.
  </div>
</div>



