<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/people/mills.b.jpg" alt="Bill Mills" />
  <div id="mills.b" class="media-body">
    <span class="person">Bill Mills</span> is a physicist and community manager 
    for the Mozilla Science Lab, an open science initiative of the Mozilla 
    Foundation and institutional partner of the Software Carpentry Foundation. 
    Prior to joining Mozilla, Bill worked as a software developer at TRIUMF, 
    Canada's national lab for nuclear and particle physics. Bill's focus there 
    was on overhauling research methodology both in terms of software 
    development and use, and with regards to UI and UX on next-generation 
    many-user experiments. 
  </div>
</div>



